<form action="/articles" method="post">
  Title<input type="text" id='article_title' name="article[title]">
  Content<input type="text" id='article_content' name="article[content]">
  <input type="submit" id="submit">
</form>